nav ul {
   display: flex;
   align-items: center;
  justify-content: space-between;
    overflow: hidden;
    padding: 25px;
    margin-top: -10px;
  
   margin-left: 25px;
    
 }
 nav ul li {
    display: inline;
    align-items: center;
    height: 40px;
    float: left;
    margin-left: 125px;
    list-style-type: none;
  margin-top: 35px;


 }
 nav ul li a {
    font-weight: bold;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Open Sans Regular , sans-serif ;
    font-size: 20px;
    margin-right: 30px;

 }
    
 header {
    background-image: url(images/NUDOO66.jpg);
    padding-bottom: 260px;
   
    
   
   
 }

span {
    
    margin-left: 78px;
    margin-top: 65px;
    color:  rgb(184, 53, 92);
    font-size: 45px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    color: rgb(0, 0, 0);
    font-size: 55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
img { 
    float: right;
   margin-right: 155px;
    height:740px;
    margin-top: -200px;

} 
#hehe4 {
 margin-left: 125px;
 font-size: 40px;
 margin-top: 99px;


}

#online {
    color: rgb(177, 80, 109);
    margin-left: -0.99px;
    padding: 2px;
}




div {
    color: black;
    font-family: Open Sans Regular , sans-serif; 
    margin-left: 125px;
    margin-top: -5px;

}

button {
    display: block;
    margin-left: 125px;
    margin-top: 35px;
    background-color:  rgb(177, 80, 109);
    color: white;
    border-color: rgb(177, 80, 109);
    border: 1pc solid rgb(177, 80, 109);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;

 }
 #vertical-line {
    background-color: rgb(177, 80, 109);
    width: 80px;
    height: 4px;
    margin: 5px 130px 0; }


