#nav ul{
   display: flex;
   align-items: center;
  justify-content: space-between;
    overflow: hidden;
    padding: 25px;
    margin-top: -10px;
  
   margin-left: 25px;
    
 }
 #nav ul li {
    
    align-items: center;
    height: 40px;
    float: left;
    margin-left: 125px;
    list-style-type: none;
  margin-top: 35px;


 }
 #nav ul li a {
    font-weight: bold;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Open Sans Regular , sans-serif ;
    font-size: 20px;
    margin-right: 30px;

 }
    
 header {
    background-image: url(images/NUDOO66.jpg);
    padding-bottom: 260px;
   
    
   
   
 }

span {
    
    margin-left: 78px;
    margin-top: 65px;
    color:  rgb(184, 53, 92);
    font-size: 45px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    color: rgb(0, 0, 0);
    font-size: 55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
#img { 
    float: right;
   margin-right: 155px;
    height:740px;
    margin-top: -202px;

} 
#hehe4 {
 margin-left: 125px;
 font-size: 40px;
 margin-top: 99px;


}

#online {
    color: rgb(177, 80, 109);
    margin-left: -0.99px;
    padding: 2px;
}




#div {
    color: black;
    font-family: Open Sans Regular , sans-serif; 
    margin-left: 125px;
    margin-top: -5px;

}

button {
    display: block;
    margin-left: 125px;
    margin-top: 35px;
    background-color:  rgb(177, 80, 109);
    color: white;
    border-color: rgb(177, 80, 109);
    border: 1px solid rgb(177, 80, 109);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    padding: 15px;
 }

 #vertical-line {
    background-color: rgb(177, 80, 109);
    width: 80px;
    height: 4px;
    margin: 5px 130px 0; }


#container {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   /* display: inline;
    background-color: white;
   margin-bottom: 45px;
   border-radius: 8px;
  padding: 25px;
  
 overflow: hidden;
  float: left;
  margin-left: 145px;
  margin-top: 85px; */
}

.flexbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
background-color: white;
margin-bottom: 45px;
border-radius: 8px;
padding: 25px;
 overflow: hidden;
  margin-top: 85px;
}

#web {
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(177, 80, 109);
    margin-bottom: 20px;
   
    
    
    
} 
 #tekst {
    font-family: Open Sans Regular , sans-serif;
    margin-bottom: 20px;
    font-size: 17px;
    margin-bottom: 50px;


 }

 #kompjuteri {

    width: 70px;
    height: 60px;
    margin-top: 30px;
   margin-bottom: 20px;
    }

    #butoni3 {
        border: 1px solid rgb(184, 53, 92);
        padding: 10px;
        background-color: rgb(184, 53, 92);
        color: white;
        border-radius: 8px;
    }


    body {
      background-color: rgb(233, 222, 222);
    }

#pjesa2   {
    margin-top: 8px;
    margin-left: 10px;
    height: 100%;
    padding: 55px;
    float: left;
    background: white;
    
}
    /* #ofrojme {
   margin-top: 35px;
    padding: 25px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

#ofrojme{
    text-align: center;
}

#span44 {
    
    color: rgb(71, 71, 239);
    margin-left: -2px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 55px;
    
    
}
#sherbimi {
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(9, 9, 86);

}

.pjesa3 {
    float: left;
    overflow: hidden;
    
   
    margin: 10px;
    
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 7.5px;
    
}

.opti {
    color: rgb(80, 80, 177);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-top: 95px;
    margin-bottom: -40px;
   margin-right: 10px;
   margin-left: 70px;



}

#opti2 {
    width: 55px;
    height: 75px;
    float: left;
    margin-top: 8px;
    margin-left: 145px;

}


  

#rreth {
color: black;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-left: 95px;

}

#kushjemi {
    color: rgb(184, 53, 92);
    margin-left: 95px;
    font-size: 35px;
    margin-top: -13px;
}

#vertical-line2 {
   background-color: gray;
    width: 800px;
    margin-left: 95px;
    height: 2px;
}
#Ne {
    color: rgb(65, 64, 64);
    font-size: 25px;
    margin-left: 95px;
    margin-bottom: 55px;
}

#mbledhja {
    width: 455px;
    height: 300px;
    margin-right: 300px;
    margin-top: 10px;
    margin-left: 995px;
    margin-bottom: -350px;
}
.buttoni55 {
    margin-right: 155px;
    background-color: rgb(184, 53, 92);
    padding: 15px 35px;
    border-radius: 10px;
    color: white;
    margin-left: 95px;
    margin-bottom: -25px;
   
}
/* 
#ofrojme {
    margin-bottom: 55px;
    padding: 25px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-bottom: 5px;
} */

#span44 {
    
    color: rgb(184, 53, 92);
    margin-left: -2px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 55px;
    
    
}
#sherbimi {
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(184, 53, 92);

}

.pjesa3 {
    float: left;
    overflow: hidden;
    
   
    margin: 10px;
    
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 85px;
    
}

.opti {
    color: rgb(184, 53, 92);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-top: 95px;
    margin-bottom: -40px;
   margin-right: 10px;
   margin-left: 70px;



}

#opti2 {
    width: 55px;
    height: 75px;
    float: left;
    margin-top: 8px;
    margin-left: 145px;

}


