header {
    background-color:  rgb(199, 83, 118);
    width: 100%;
  
    padding-right: 30px;
    
    margin-left: -20px;
   
    
    
 }
 

 #vertical-line2 {
    width: 80px;
   height: 5px;
   background-color: #007BFF;
  margin: 10px auto 0px;
  margin-top: 70px;
  margin-top: 40px;
  
   
}

#touch {
    padding-top: 45px;
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}
#teksti5 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    font-size: 18px;
    padding-top: 45px;
    margin-left: 20px;
    margin-top: 55px;
}
    
  

.contact-form {
   
     width: 300px;
      margin: 100px auto;
      font-family: Arial, sans-serif;
    }
    .contact-form label {
      display: block;
      margin-bottom: 15px;
      font-weight: bold;
      color: white;
    }
    .contact-form input {
        
      width: 100%;
      padding: 15px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    .contact-form button {
      width: 100%;
      padding: 15px;
      background-color: #007BFF;
      border: 1px solid #007BFF;
      color: white;
      margin-left: 8px;
      font-size: 16px;
      border-radius: 4px;
      padding-top: 15px;
     
    }
    .contact-form button:hover {
      background-color: #0056b3;
    }

    #headings {
        color: white;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 35px;
        font-size: 25px;


    }
        
  
  




  

